.textCenter{
  text-align:center;
}

.blockCenter{
  margin: 0 auto;
  display:block;
}

.tagFree, .tagChosen {
    border: solid 1px Orange;
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
    display:inline-block;
}

.checkboxes_3 label{
  display:inline-block;
  width:24%;

}

tr.MC-id.selected{
  background:#aaaaaa;
}


/* right offcanvas hambuger*/
.right-small{
  border:none;
}

/* left offcanvas */
aside.left-off-canvas-menu{
  position:fixed;
}


a.exit-off-canvas{
  position: fixed !important;
  background: none !important;
  box-shadow: none !important;
}

/* top bar*/
nav.tab-bar{
  position: fixed;
  width: 100%;
  z-index: 1003;

}

table {
  cursor:default;
}